<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Product</title>
</head>
<body>
	<div align="center">
		<h1>Create New Product</h1>
		<br/>
		<form action="#" th:action="@{/savecart}" th:object="${product}" method="POST">
			<table border="0" cellpadding="10">
							
				<tr>
					<td>ชื่อสินค้า:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>จำนวน:</td>
					<td><input type="text" th:field="*{cart_quantity}" /></td>
				</tr>				
				<tr>
					<td>ราคา:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>ราคารวม:</td>
					<td><input type="text" th:field="*{total_price}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>